:root {
  --brown: #936e5b;
  --orange: #f27454;
  --light_brown: #cbb89d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light_brown);
}

footer {
  background-color: var(--brown);
  margin-top: auto;
}

p,
h1,
h2,
h3 {
  color: rgb(240, 240, 240);
}

h1 {
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h2,
h3,
h4 {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
}

p,
a {
  font-family: "Hind", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/******************** menu ********************/

@media (max-width: 800px) {
  #menu_toggle {
    opacity: 0;
  }

  /* + .menu_knap > span::before */

  #menu_toggle:checked {
    top: 0;
    opacity: 0;
  }
  /*  + .menu_knap > span::after */
  #menu_toggle:checked {
    top: 0;
  }

  #menu_toggle:checked ~ ul {
    left: 0;
  }

  .menu_knap span {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
    background-size: cover;
    background-image: url(logo.svg);
  }

  .hamburger_menu ul {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: var(--brown);
  }

  li {
    padding: 10px 0;
  }

  .logo {
    display: none;
  }
}

#menu_toggle {
  display: none;
}

.hamburger-menu label,
.hamburger-menu input {
  position: absolute;
  display: none;
  z-index: 1;
}

.menu_knap span {
  background-image: url(favicon.svg);
}

.menu_knap span:hover {
  scale: 1.2;
  transition-duration: 2s;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 20px 0;
  margin-bottom: 30px;
  background-color: var(--brown);
}

header a {
  text-decoration: none;
  padding: 5px 15px;
  margin: 0 10px;
  color: white;
}

li {
  list-style-type: none;
}

li :hover {
  color: yellow;
  border-bottom: solid 1.5px yellow;
  background-color: var(--orange);
  border-radius: 2px;
}

.logo img {
  max-width: 80px;
}

.logo :hover {
  border-bottom: none;
  background-color: transparent;
}

.aktiv {
  border-bottom: solid yellow 2px;
}

/******************** footer ********************/

#footerGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin-left: 10%;
  margin-right: 10%;
}

#formHeading {
  margin-bottom: 5%;
}

#footerLogo {
  width: 50%;
  height: auto;
  margin-top: 15%;
  margin-left: 20%;
  margin-bottom: 15%;
}

#footerVmLogo {
  width: 45%;
  height: auto;
  margin-top: 15%;
  margin-left: 10%;
}

.footerIcon {
  width: 40%;
  height: auto;
  margin-top: 25%;
  padding-left: 5%;
}

#formContainer {
  margin-top: 15%;
  margin-bottom: 15%;
  margin-right: 15%;
}
.formGroup {
  padding-bottom: 5%;
}

.footerInput {
  width: 100%;
  height: auto;
  padding: 1%;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 4px;
  outline: none;
}

#submit {
  width: 50%;
  margin-left: 25%;
}
